.quizz {                /* the container of the search box */
    width: 95%;
    position: relative;
    align-items: center;
}

.input {
    margin-left: 15px;
    width: 50%;
    border-radius: 40px;    /* round edges */
    padding: 15px 10px;     /* size of the box itself */
    font-size: 20px;
    border: none;
    transition: 0.2s;       /* for smooth animations*/
    box-shadow: inset 0 0 5px black;
}