/* font specifications */
@font-face {
  font-family: luciole;
  src: url(../fonts/Luciole/Luciole-Regular/Luciole-Regular.ttf);
}
@font-face {
  font-family: opendyslexic;
  src: url(../fonts/opendyslexic/OpenDyslexic-Regular.otf);
}
/* Avoid browser-predefined borders */
html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(17, 17, 19);
}
@media (max-width: 800px) { /* if window smaller than 800px */
  .heading {
    font-size: 35px;
  }
}
/* Text selection colour */
::selection {
  color: gainsboro;
  background: rgba(93, 159, 192, 0.5);
}
/* Text selection colour (but for Firefox) */
::-moz-selection {
  color: gainsboro;
  background:rgba(93, 159, 192, 0.5);
}
img {
  pointer-events: none;
}

/* General parameters (font, colour, etc.) */
.App {
  width: 100vw; /*100% viewport width*/
  min-height: 100vh; /*100% viewport height*/
  text-align: center;
  font-family: luciole;
  color: gainsboro;
  background: #131142; 
  /* background: linear-gradient(0deg, rgba(19, 17, 66, 1) 22%, rgba(43, 88, 130, 1) 100%); */
  display: block;
  flex-direction: column;
  /* background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(214, 237, 83, 1) 100%); */
}

/* Display parameters for text */
.heading {
  font-size: 40px;
  color: gainsboro;
  /* z-index: 1; */
}
p {
  color: gainsboro;
  font-size: larger;
  line-height: 160%;
}
/* link colour */
a {
  color: #44b9d9;
}

main {
  min-height: 100vh;
}

footer {
  width: 100%;
  bottom: 0;
  font-size: small;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(17, 17, 19);
}
 