/* font specification */
@font-face {
  font-family: luciole;
  src: url(../fonts/Luciole/Luciole-Regular/Luciole-Regular.ttf);
}
/* Avoid browser-predefined borders */
html, body {
  margin: 0;
  padding: 0;
}
@media (max-width: 800px) { /* if window smaller than 800px */
  .heading {
    font-size: 35px;
  }
}
/* Text selection colour */
::selection {
  color: gainsboro;
  background: rgba(93, 159, 192, 0.5);
}
/* Text selection colour (but for Firefox) */
::-moz-selection {
  color: gainsboro;
  background:rgba(93, 159, 192, 0.5);
}

/* General parameters (font, colour, etc.) */
.App {
  width: 100vw; /*100% viewport width*/
  height: 100vh; /*100% viewport height*/
  text-align: center;
  font-family: luciole;
  color: gainsboro;
  background: #131142; 
  /* background: linear-gradient(0deg, rgba(19, 17, 66, 1) 22%, rgba(43, 88, 130, 1) 100%); */
  display: block;
  flex-direction: column;
  /* background: linear-gradient(180deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(214, 237, 83, 1) 100%); */
}

/* Navigation bar (menu with "Home", "Training", etc. */
.navbar {
  font-size: 24px;
  display: flex;
  /* z-index: 1; */
  padding-top: 12px;
  padding-left: 8px;
  margin-bottom: 40px;
  /* background-color: #282c34;*/
  background: #0a3466;
  background: linear-gradient(90deg, rgba(10, 52, 102, 1) 0%, rgba(16, 92, 135, 1) 37%, rgba(88, 204, 175, 1) 99%);
}
.ul_navbar {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex; /* horizontal alignment */
}
.ul_navbar li a {
  display: block;
  color: gainsboro;
  padding: 14px 16px;
  text-decoration: none;
}

/* When a menu is hovered in the navigation bar */
ul li a:hover:not(.active) {
  background-color: rgba(10, 10, 10, 0.3);
  border-radius: 25px;
}
ul li a.active {
  background-color: #04AA6D;
  border-radius: 25px;
}
#home_btn {
  width: 10%;
}
#logo_navbar {
  width: 60%;
  height: 60%;
}
#logo_home {
  width: 40%;
}

/* Display parameters for text */
.heading {
  font-size: 40px;
  color: gainsboro;
  /* z-index: 1; */
}
p {
  color: gainsboro;
  font-size: larger;
}
/* link colour */
a {
  color: #61dafb;
}

 /* Switch button; source: https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2e3a4d;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: gainsboro;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: rgb(31, 157, 129);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(31, 157, 129);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
} 